networks:
  tradusquare:
    driver: bridge
volumes:
  postgres-data:
services:
  db:
    image: postgres:16.2-alpine
    networks:
      - tradusquare
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    env_file: .env
    environment:
      POSTGRES_DB: backend_development
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build:
      context: .
      dockerfile: Dockerfile.app  
    networks:
      - tradusquare
    volumes:
      - ./:/usr/src/app
    command: sh -c "rake db:migrate && hanami server"
    ports:
      - "2300:2300"
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
