# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Generate artifacts

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.3.1']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create .env file and run tests
        run : |
          echo "${{ secrets.ENV_FILE }}" > .env
      - uses: adambirds/docker-compose-action@v1.3.0
        with:
          compose-file: "./docker-compose.yml"
          down-flags: "--volumes"
          up-flags: "--build"
          services: |
            db
            app
          test-container: app
          test-command: "bundle exec rspec spec"
        env:
          RUBY_VERSION: ${{ matrix.ruby-version }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: |
            app
            config
            db
            lib
            config.ru
            docker-compose.yml
            Dockerfile.app
            Gemfile
            Gemfile.lock
            Guardfile
            Rakefile
          retention-days: 1